AppX packaging error due to publisher regex template (S v ST)

Getting following error packaging an app with MakeAppx

error 0xC00CE169: App manifest validation error: The app manifest must be valid as per schema: Line 11, Column 5, Reason: 'CN=My Name,OU=My OU,O=My O,L=My City,**ST=My State**,C=My Country' violates pattern constraint of '(CN|L|O|OU|E|C|**S**|STREET|T|G|I|SN|DC|SERIALNUMBER|Description|PostalCode|POBox|Phone|X21Address|dnQualifier|(OID\.(0|[1-9][0-9]*)(\.(0|[1-9][0-9]*))+))=(([^,+="<>#;])+|".*")(, ((CN|L|O|OU|E|C|S|STREET|T|G|I|SN|DC|SERIALNUMBER|Description|PostalCode|POBox|Phone|X21Address|dnQualifier|(OID\.(0|[1-9][0-9]*)(\.(0|[1-9][0-9]*))+))=(([^,+="<>#;])+|".*")))*'.

Looks like the spec is looking for S for state, while certificate has ST. 

https://docs.microsoft.com/en-us/uwp/schemas/appxpackage/uapmanifestschema/element-identity

What would be the way around this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f0ee0144-02b5-0e97-f13e-210482937f30
* Version Independent ID: 40e5abbb-a25d-1a34-eb12-32b63a065260
* Content: [Identity (Windows 10) - Windows UWP applications](https://docs.microsoft.com/en-us/uwp/schemas/appxpackage/uapmanifestschema/element-identity)
* Content Source: [winrt-related-src/schemas/appxpackage/uapmanifestschema/element-identity.md](https://github.com/MicrosoftDocs/winrt-related/blob/docs/winrt-related-src/schemas/appxpackage/uapmanifestschema/element-identity.md)
* Product: **uwp**
* Technology: **winrt-reference**
* GitHub Login: @mcleanbyron
* Microsoft Alias: **mcleans**

If you look at the certificate of <https://github.com/> with Mozilla Firefox or `openssl x509 -text`, its Subject field has `ST = California`, However, if you view the exact same certificate with Internet Explorer 11 or `certutil.exe -dump`, it shows `S=California` instead. It's a matter of Microsoft using a nonstandard abbreviation for the `stateOrProvinceName` attribute type. So if you put `S=My State` in the manifest, I think it will match the certificate just fine, even if other software shows it as `ST=My State`.

The documentation of [CertNameToStrW function](https://docs.microsoft.com/en-us/windows/win32/api/wincrypt/nf-wincrypt-certnametostrw) and [CertNameToStrA function](https://docs.microsoft.com/en-us/windows/win32/api/wincrypt/nf-wincrypt-certnametostra) mentions this deviation from RFC 1779:

> The X.500 key name for stateOrProvinceName (2.5.4.8) OID is “S”. This value is different from the RFC 1779 X.500 key name (“S”).

That is a bit incorrect; more accurate would be:

> The X.500 key name for stateOrProvinceName (2.5.4.8) OID is “S”. This value is different from the RFC 1779 X.500 key name (“ST”).

(RFC 1779 has been obsoleted by RFC 2253 and then RFC 4514, but the `S` vs. `ST` issue has not been changed.)

Thanks for providing an answer. I have also fixed the doc bug in the CertNameToStrA/W articles that you pointed out (changed the second "S" to "ST"). Those fixes should be live in a day or so.

And sorry to re-open this but this issue seems to re-appear when the cert is stored in a Azure key vault
We have as publisher in the manifest

> CN=Apption Corporation, O=Apption Corporation, C=CA, L=OTTAWA, STREET=400-1600 Scott St, S=Ontario

 and we have in Azure

> C=CA, ST=Ontario, L=OTTAWA, STREET=400-1600 Scott St, O=Apption Corporation, CN=Apption Corporation

These are unfortunately not matched.